<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>🛹Admin Dashboard🛹</title>
  </head>
  <body
    class="h-screen flex flex-col justify-between bg-radial from-[#f1f3f5] from-30% to-slate-300"
  >
    <nav
      class="sticky top-0 z-100 flex flex-col md:flex-row md:justify-between font-bold text-[#e9ecef] tracking-widest md:tracking-wider bg-[#343a40] py-2 px-4 w-full border-b-2 border-b-[#e3173e]"
    >
      <div id="logo" class="flex justify-center md:justify-normal">
        <img src="/assets/images/anteautopro.ca.png" class="md:max-w-1/2" />
      </div>
      <div class="text-4xl bold italic flex justify-center">
        <h1>Ante's Admin Dashboard</h1>
      </div>
      <div
        id="nav-options"
        class="flex gap-4 md:gap-8 justify-evenly md:justify-normal"
      >
        <a
          href="/index.html"
          class="hover:cursor-pointer flex items-center text-2xl text-[#e9ecef]"
          >Home <img src="/assets/icons/home.svg" class="size-7 mx-0.5"
        /></a>
        <a
          href="/blog.html"
          class="hover:cursor-pointer flex items-center text-2xl text-[#e9ecef]"
          >Blog <img src="/assets/icons/car.svg" class="size-7 mx-0.5"
        /></a>
      </div>
    </nav>
    <main class="flex justify-center w-full">
      <section
        id="blogCreationSection"
        class="max-w-5xl border-1 border-[#343a40]"
      >
        <form id="createPostForm"></form>
      </section>
    </main>
    <footer
      class="h-[10vh] bg-[url(/assets/images/anteautopro_footer_banner.png)] w-full flex justify-center border-t-2 border-t-[#1985b4]"
    ></footer>
  </body>
</html>
