<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="/dashboard.js"></script>
    <title>🛹Admin Dashboard🛹</title>
  </head>
  <body
    class="h-screen flex flex-col justify-between bg-radial from-[#f1f3f5] from-30% to-slate-300"
  >
    <nav
      class="sticky top-0 z-100 flex flex-col md:flex-row md:justify-between font-bold text-[#e9ecef] tracking-widest md:tracking-wider bg-[#343a40] py-2 px-4 w-full border-b-2 border-b-[#e3173e]"
    >
      <div class="text-4xl bold italic flex justify-center">
        <h1 class="text-center md:text-start">Ante's Admin Dashboard</h1>
      </div>
      <div
        id="nav-options"
        class="flex gap-4 md:gap-8 justify-evenly md:justify-normal"
      >
        <a
          href="/index.html"
          class="hover:cursor-pointer flex items-center text-2xl text-[#e9ecef]"
          >Home <img src="/assets/icons/home.svg" class="size-7 mx-0.5"
        /></a>
        <a
          href="/blog.html"
          class="hover:cursor-pointer flex items-center text-2xl text-[#e9ecef]"
          >Blog <img src="/assets/icons/car.svg" class="size-7 mx-0.5"
        /></a>
      </div>
    </nav>
    <main class="flex flex-col items-center justify-center w-full">
      <section
        id="blogCreationSection"
        class="flex flex-col gap-4 border-2 border-[#343a40] w-full max-w-[95%] md:max-w-5xl p-4 rounded-lg shadow-xl mt-15 mb-15"
      >
        <h1
          class="font-bold text-center text-2xl w-full border-b-2 border-b-[#1985b4]"
        >
          Create A New Blog Post
        </h1>
        <form id="createPostForm" class="p-2">
          <div class="flex flex-col">
            <label for="imageURL" class="font-bold px-2 pt-2">Image URL</label>
            <input
              id="imageURL"
              type="text"
              name="imageURL"
              placeholder="Paste image URL here"
              required
              class="rounded-lg p-2 border-1 border-[#343a40]"
            />
          </div>
          <div class="flex flex-col">
            <label class="font-bold px-2 pt-2">Title</label
            ><input
              id="title"
              type="text"
              name="title"
              placeholder="Title"
              minlength="3"
              maxlength="75"
              required
              class="rounded-lg p-2 border-1 border-[#343a40]"
            />
          </div>
          <div>
            <label class="font-bold px-2 pt-2">Body</label
            ><textarea
              id="body"
              required
              name="body"
              minlength="5"
              maxlength="1000"
              placeholder="Write your blog post here..."
              class="w-full h-48 resize-none border-1 border-[#343a40] rounded-lg p-2"
            ></textarea>
          </div>
          <button
            id="postButton"
            type="submit"
            class="bg-[#1985b4] w-full tracking-widest p-2 rounded-lg font-bold text-[#f1f3f5] active:bg-[#26b5ee] hover:cursor-pointer hover:bg-[#1985b4] hover:scale-103 ease-in-out duration-150"
          >
            POST
          </button>
        </form>
      </section>
      <section id="blog-post-area" class="w-full flex justify-center">
        <div id="blog-post-area-inner" class="w-full max-w-[95%] md:max-w-5xl">
          <h1 id="section-header" class="text-4xl mb-4 font-bold">
            Posted Blogs
          </h1>
          <div id="blogContentArea" class="flex flex-col gap-8 mb-15"></div>
        </div>
      </section>
    </main>
    <footer
      class="bg-[url(/assets/images/anteautopro_footer_banner.png)] bg-cover w-full flex justify-center border-t-2 border-t-[#1985b4]"
    >
      <div class="h-[10vh]"></div>
    </footer>
  </body>
</html>
