<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>Login</title>
    <style>
      body {
        font-family: "Jost", "Trebuchet MS", Arial, sans-serif;
      }
    </style>
  </head>
  <body
    class="h-screen flex flex-col justify-between bg-radial from-[#f1f3f5] from-30% to-slate-300"
  >
    <nav
      class="sticky top-0 z-100 flex flex-col md:flex-row md:justify-between font-bold text-[#e9ecef] tracking-widest md:tracking-wider bg-[#343a40] px-4 py-2 w-full border-b-2 border-b-[#e3173e]"
    >
      <div
        id="nav-options"
        class="flex gap-4 md:gap-8 justify-evenly md:justify-normal"
      >
        <a
          href="/index.html"
          class="hover:cursor-pointer flex items-center text-2xl text-[#e9ecef]"
          >Home <img src="/assets/icons/home.svg" class="size-7 mx-0.5"
        /></a>
      </div>
    </nav>
    <main id="login" class="flex justify-center w-full">
      <section
        id="login-inner"
        class="max-w-5xl border-1 border-[#343a40] bg-[#343a40] rounded-xl shadow-xl"
      >
        <form
          id="loginForm"
          method="post"
          action="/admin/login"
          class="p-8 flex flex-col gap-4 w-full"
        >
          <input
            name="username"
            type="text"
            placeholder="Enter username"
            class="rounded-lg border p-2 border-[#343a40] bg-[#e9ecef]"
          />
          <input
            name="password"
            type="password"
            placeholder="Enter password"
            class="rounded-lg border p-2 border-[#343a40] bg-[#e9ecef]"
          />
          <button
            id="submitButton"
            type="submit"
            class="relative overflow-hidden bg-[#1985b4] tracking-widest p-2 rounded-lg font-bold text-[#f1f3f5] active:bg-[#26b5ee] hover:cursor-pointer hover:bg-[#1985b4] hover:scale-105 ease-in-out duration-150 before:content-[''] before:absolute before:inset-0 before:bg-gradient-to-b before:from-[#f1f3f5]/35 before:via-transparent before:to-transparent"
          >
            ENTER
          </button>
        </form>
      </section>
    </main>
    <footer
      class="h-[10vh] bg-[url(/assets/images/anteautopro_footer_banner.png)] w-full flex justify-center border-t-2 border-t-[#1985b4]"
    ></footer>
  </body>
</html>
